.nav-container{
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
}
.nav-bar{
  width: $width-distance;
  height: 80px;
  margin: $margin-auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BDB5AF;
  .logo{
    a{
      text-decoration: none;
      font-size: 25px;
      color: $color-link;
      i{
        vertical-align: middle;
      }
      span{
        margin-left: 10px;
      }
    }
  }
  .menu{
    .fa-bars{
      display: none;
    }
  }
  ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    li{
      margin-right: 30px;
      font-size: 18px;
      &:first-child{
        span{
          margin-right: 5px;
        }
      }
      &:last-child{
        margin-right: 0;
        a{
          color: #30488F;
          background-color: white;
          border: 1px solid #30488F;
          padding: 8px;
          border-radius: 5px;
          &:hover{
            color: white;
            background-color: #30488F;
          }
        }
      }
      a{
        text-decoration: none;
        color: $color-link;
        transition: background-color 0.4s;
        transition: color 0.4s;
        &:hover{
          color: $color-link-hover;
        }
        i{
          vertical-align: middle;
        }
      }
    }
  }
}
.header{
  width: $width-distance;
  margin: 100px auto;
  display: flex;
  .right-side{
    width: 50%;
    margin-top: 50px;
    padding-right: 10px;
    h1{
      color: $color-link;
      font-size: 50px;
    }
    p{
      color: $color-link;
      font-size: 25px;
      margin: 40px 0;
    }
    .sign-in{
      a{
        @include button;
        transition: background-color 0.3s;
        i{
          margin-right: 5px;
          vertical-align: middle;
        }
        &:hover{
          background-color: #233569;
        }
      }
      span{
        margin: 0 10px;
        color: #BDB7B8;
      }
    }
    p:last-child{
      margin: 20px 0;
      a{
        text-decoration: none;
        color: $color-link;
        font-size: 18px;
        transition: color 0.4s;
        i{
          vertical-align: middle;
          margin-left: 5px;
        }
        &:hover{
          color: $color-link-hover;
        }
      }
    }
  }
  .left-side{
    width: 50%;
    margin-top: 50px;
    img{
      width: 100%;
    }
  }
}
@media screen and (max-width: 1140px){
  .header{
    display: flex;
    flex-direction: column;
    .right-side{
      width: 100%;
      text-align: center;
    }
    .left-side{
      width: 100%;
    }
  }
}
@media screen and (max-width: 760px){
  .menu {
    ul{
      display: none;
    }
  }
  .nav-container{
    .menu{
      .fa-bars{
        display: block;
      }
    }
  }
  .nav-bar {
    width: 100%;
    padding: 0 20px;
  }
}
@media screen and (max-width: 540px){
  .header{
    .right-side{
      .sign-in{
        a{
          display: block;
        }
        span{
          margin: 10px 0;
          display: block;
        }
      }
    }
  }
}
